.task_list_item {
  padding: 5px 10px;
  border: 1px solid #3d3d3d;
  border-radius: 5px;
}
.task_list_item:not(:first-child) {
  margin-top: 10px;
}
.complate_task .task_list_item {
  background-color: #3ae374;
  color: #000;
}
.task_list_item_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon_delete {
  margin-left: 8px;
  margin-bottom: 1px;
}
